<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Face Recognition App</title>
</head>

<body>
    <h1>Face Recognition App</h1>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if success %}
    <p style="color: green;">{{ success }}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</body>

</html>